/* .btn {
    background: rgb(101, 176, 78);
    border-radius: 20px;
    color: white;
    font-weight: 400;
    width: 50%;
    height: 45px;
    font-size: 15px;
    font-family: 'Roboto';
    border: 0px;

    &:hover {
        background-color: rgb(137, 187, 122);
    }
} */