
<div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="index.html" class="site_title">
                  <img src="assets/images/logo1-digi.ico" alt="Custom Icon" class="custom-icon">
                  <span style="margin-left: 15px;">Digi2</span>
                </a>
              </div>
            <div class="clearfix"></div>
          <app-side-bar></app-side-bar>
        <app-menu-footer-buttons></app-menu-footer-buttons>
        </div>
      </div>
  
      <app-top-nav></app-top-nav>
  
      <div class="right_col" role="main">

      <router-outlet></router-outlet>
    </div>
  
      <app-footer></app-footer>
    </div>
  </div>

  
