
<div class="login">

    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content" >
          
           
          <form  method="get">
            <h1> {{'New Password'|translate}} </h1>
            <div>
              <input type="text" class="form-control"   placeholder=" {{'New Password'|translate}}" name="Password"/>
            </div>
            <div>
                <input type="text" class="form-control"   placeholder=" {{'Confirme Password'|translate}}" name="CPassword" [(ngModel)]="pwd"/>
              </div>
            
            <div>
              <button class="btn" (click)="updatePassword()" > {{'Update Password'|translate}} </button>
             
            </div>

            <div class="clearfix"></div>

            
          </form>
        </section>
      </div>

      
    </div>


  
</div>